header {
       background-color: #000000;
       color: #FFFFFF;
       
}

a {
    color: white;
}

.container {
    background-color: #FFFFFF;
    opacity: 0.80;

}

body {
    background-image: url(../images/burger.jpg);
    background-size: 100%;
}